### 1.2.1 Identifiers, Objects, and the Assignment Statement

In [1]:
# if we say that :
temp = 24

We establish temp as an identifier, also can be called name. The assignment command will associate the identifier to 24
which is object. But what what if we  assign a second identifier to an existing object

In [2]:
temp2 = temp

In this case both temp and temp2 will be pointing at the object
Note that if one of the names is reassigned to a different variable the alias won't be affected

In [6]:
temp = 25
temp

# In this case, temp2 is still 24

25

In [7]:
temp2

24

### 1.2.1 Creating and Using Objects

`Instantiation` is the process by which we create an object from a class

In [8]:
class Widget:
    pass

In [9]:
w = Widget()

In [10]:
# we can create a literal instance of classs
temp = 23.4

# by doing this we create an instance of a float class

When methods are calling method, we expect two types of behavior: Some will change the state of an object and some only gives information abut
the state of object.

### 1.2.3 Python built in class

A class is immutable if the class has a fixed value the can not change

Example of built in calss : 
- bool
- int
- float
- list
- tuple
- str
- set
- frozenset
- dict

In [12]:
# Boolean :
0 == True

False

In [13]:
1 == True

True

- All numbers are evaluated as True except 0
- All strings are evaluted as True exept empty string

In [14]:
# int :
int(3.3)

3

In [18]:
int('13')

13

In [19]:
# this will produce error
int('13.3')

ValueError: invalid literal for int() with base 10: '13.3'

In [20]:
# use this
float('1.3')

1.3

So we have to use the correct format, if the number in the srting will turn into integer then we must use int, if not then we must use float

In [22]:
# we also get value error if we attempt to get the int or float of string.

float('1.3s')

ValueError: could not convert string to float: '1.3s'

## 1.2. Objects in Python

### Sequence types :

- list
- tuple
- str

**Sequence**: A collection of values in which order is important

- Note that list is the most general form of sequence because it can contains elements that can be of the same types or different types.

- A list is seqential stucture: That means it stores a sequence of refrences to its elements.

- List can contains literals or identifiers, if they have been defined already.

In [25]:
my_list = ['blue','green','white']

a = 2
b = 3
c = 5

my_numbers = [a,b,c]

In [28]:
#When we call the list() on an object we must make sure its iterable [ set, dict, stings, tuples], for example:

list('hello')

['h', 'e', 'l', 'l', 'o']

In [29]:
#or
list({'name':'Mo','city':'Edmonton'})

['name', 'city']

In [34]:
# tuple is just a list that we can not change it's elements
# see how can chane the element of an in immutable object such as list
my_list[0] = 3

In [35]:
my_tuple = (2,3,4)
my_tuple[0] = 3

TypeError: 'tuple' object does not support item assignment

### string:  string is immutable collection of charachters
Note that if you want to have string that expand over lines we can't use single quotes, instead use tripple quotes

In [42]:
# This will produce error
print('fist line
second line')

SyntaxError: EOL while scanning string literal (<ipython-input-42-f660110c438f>, line 2)

In [46]:
print("""first line
second line""")

first line
second line

In [49]:
# set : Collection of value without duplicates, for set we use {}, but if we say s = {} then we are creating dict and not set
# if we want to create an empty set, then we use set()
set([1,2,1])

{1, 2}

### This is highly obtimized to see if an element exsit in the sequence 
- No inherent order 
- Immutable, can't edit

In [50]:
# dict : a mapping from distinct keys to associated values

my_dict = {'key1':'value1','key2':'value2','key3':'value3'}
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [51]:
my_dict['key1']

'value1'

In [54]:
# we can also use an existing mapping

my_list_of_tuble = [('first_key','first_value'),('second_key','second_value')]
my_list_of_tuble

[('first_key', 'first_value'), ('second_key', 'second_value')]

In [56]:
dict(my_list_of_tuble)

{'first_key': 'first_value', 'second_key': 'second_value'}